@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Gothic&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#section2,
#section3 {
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;

  /* scroll-snap-align: start; */
}
#imglastwork{
  position: sticky;
  top: 70px;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

#imglastworklast{
  position: sticky;
  top: 70px;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

#mainimageonpage1{
  z-index: -10;
}

@keyframes float-wrapper {
  0% {
    transform: scale(0.99);
  }

  50% {
    transform: scale(0.99, 1) translate3d(-10px, 0, 0px);
  }

  100% {
    transform: scale(0.99);
  }
}

#section1:hover #mainimageonpage1, #mainimageonpage2{
  animation: float-wrapper 5s infinite; 
}

#section1:hover  #mainimageonpage2{
  animation: float-wrapper 15s; 
}

.fade-out {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}